@model WebApplication1.Models.IndexLink

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/BackStage/Views/Shared/_LayoutBackMainPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "IndexLink", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>封面連結編輯</h4>
    <hr />

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LinkName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinkName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LinkName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LinkPath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinkPath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LinkPath, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("當前圖片", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!String.IsNullOrEmpty(Model.PhotoPath))
            {
                <img width="800" src="~/Uploads/IndexLink/@Model.PhotoPath">
            }
            else
            {
                <span style="color:red;font-size:large;font-weight:bolder">目前沒有上傳連結圖片！</span>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("UploadPhoto", "", new { type = "file" })
            @Html.ValidationMessage("UploadPhoto", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsShow, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsShow)
                @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="更新" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
