@model WebApplication1.Models.IndexPurpose
@{
    ViewBag.Title = "Index Purpose";
    Layout = "~/Areas/BackStage/Views/Shared/_LayoutBackMainPage.cshtml";
}
@section CKeditorStyle {
    <style>
        .ck-editor__editable {
            min-height: 500px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<h2>Home Page 宗旨設定</h2>

<div class="form-horizontal">
    <h4>編輯區</h4>
    <hr />

    @using (Html.BeginForm("Index", "IndexPurpose", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HTMLContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HTMLContent, 10, 10, new { @class = "form-control", @id = "editor", style = "height: 300px;" })
                @Html.ValidationMessageFor(model => model.HTMLContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UpdateTime, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UpdateUser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Ck5/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor')
                , {
                    htmlSupport: {
                        allow: [
                            {
                                name: /^(div|ol|li)$/                  // 全部允許  /.*/,   /^(div|span|img|h3|br)$/,
                            }
                        ]
                    }
                }
            )
            .catch(error => {
                console.error(error);
            });
    </script>
    @if (TempData["UpdateCompleted"] != null && Convert.ToBoolean(TempData["UpdateCompleted"]) == true)
    {
        <script>
            Swal.fire({
                title: "修改完成！",
                text: "",
                icon: "success"
            });
        </script>
    }
}


