@model WebApplication1.Models.Knowledge

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/BackStage/Views/Shared/_LayoutBackMainPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Knowledge", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsShow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="checkbox-inline checkbox01">
                    @Html.RadioButtonFor(model => model.IsShow, "true", htmlAttributes: new { @class = "radiostyle01", @name = "IsShow", @id = "true" })
                    顯示於前台
                </label>
                <label class="checkbox-inline checkbox01">
                    @Html.RadioButtonFor(model => model.IsShow, "false", htmlAttributes: new { @class = "radiostyle01", @name = "IsShow", @id = "false" })
                    不顯示於前台
                </label>
                @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsTop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="checkbox-inline checkbox01">
                    @Html.RadioButtonFor(model => model.IsTop, "true", htmlAttributes: new { @class = "radiostyle01", @name = "IsTop", @id = "true" })
                    選擇"置頂"顯示
                </label>
                <label class="checkbox-inline checkbox01">
                    @Html.RadioButtonFor(model => model.IsTop, "false", htmlAttributes: new { @class = "radiostyle01", @name = "IsTop", @id = "false" })
                    選擇"不置頂"顯示
                </label>
                @Html.ValidationMessageFor(model => model.IsTop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IssueTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IssueTime, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.IssueTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("UploadFile", "", new { type = "file" })
            </div>
        </div>


        @if (!String.IsNullOrEmpty(Model.FileName))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    目前檔案：
                    <a href="~/Uploads/knowledge/@Model.FileName" download="@Model.FileName">@Model.FileName</a>
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
